html, body {
 margin: 0;
 padding: 0;
 }
body {
 font-family: Verdana, sans-serif;
 font-size: 100%;
 }
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
 }
 .site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #17113b;
  color: #fff;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 20;
}
.header-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;  
  letter-spacing: 1.5px;
  text-transform: uppercase;
 }
.header-nav a {
  color: #fff;
  text-decoration: none;
 }
.header-nav a:hover {
    font-weight: bold; 
 }
.ocean-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
 }
 .ocean-ligne {
  display: flex;
  align-items: center;
  gap: 10px;
 }
 .ocean-note {
  font-size: 0.95rem;
 }
 .ocean-button {
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 6px;              /* space between text and icon */
  color: white;
  background-color: #0088cc;
 }

.ocean-button:hover {
  opacity: 0.9;
 }

/* Optional different colors per ocean */
.ocean-button.pacific  { background-color: #006994; }
.site-main {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background: linear-gradient(135deg, #b4e1f3, #013947);

 }
.site-main a {
  color: rgb(8, 5, 61); 
  
 }

.site-main ul {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;

 }

.site-footer {
  flex-shrink: 0;
  padding: 10px 20px;
  text-align: center;
  background-color: #17113b;
  color: #fff;
  position: sticky;
  bottom: 0;
  z-index: 20;
 }
h1 {
 font-size: 800%;
 color: #040935;
 text-align: center;
 }
h2 {
 font-size: 150%;
 color: #040935;
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 padding-left: 15px;
 }
ul,li,td {
 color: rgb(21, 30, 110);
 }


