html, body {
 margin: 0;
 padding: 0;
 }
body {
 font-family: Verdana, sans-serif;
 font-size: 100%;
 }
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
 }
 .site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #17113b;
  color: #fff;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 20;
}
.header-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;  
 }
.header-nav a {
  color: #fff;
  text-decoration: none;
 }
.header-nav a:hover {
    font-weight: bold; 
 }
.site-main {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background: linear-gradient(135deg, #b4e1f3, #013947);

}
.site-main a {
  color: rgb(8, 5, 61); 
  
}

.site-footer {
  flex-shrink: 0;
  padding: 10px 20px;
  text-align: center;
  background-color: #17113b;
  color: #fff;
  position: sticky;
  bottom: 0;
  z-index: 20;
 }
h1 {
 font-size: 800%;
 color: #040935;
 text-align: center;
 }
h2 {
 font-size: 150%;
 color: #040935;
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 padding-left: 15px;
 }
ul,li,td {
 color: rgb(21, 30, 110);
 }


